<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 10px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                style="border: 1px solid #cccccc; border-collapse: collapse;">
                <tr>
                    <td align="center" bgcolor="#007bff"
                        style="padding: 40px 0 30px 0; color: #ffffff; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                        <a href="{{SITE_URL}}" style="text-decoration: none;color: #ffffff;">{{SITE_NAME}}</a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;"> <b>We
                                        received a request to reset the password for your account.</b> </td>
                            </tr>
                            <tr>
                                <td
                                    style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                    We received a request to reset the password for your account. If you did not
                                    make this request, please <a href="{{SITE_URL}}/contact"
                                        style="font-family: sans-serif;text-decoration: none;">let us know</a>. If
                                    you requested a reset for the account associated with {{TO}}, click the
                                    button below to reset your account password. </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;text-align: center;"
                                    align="center"> <a href="{{SITE_URL}}/forgot?reset=1&token={{TOKEN}}&email={{TO}}"
                                        bgcolor="#5191fa"
                                        style="text-align:center;background:#0DA3D6;color:#fff;text-decoration:none;padding:15px 20px;display:inline-block;">
                                        Reset Password </a> </td>
                            </tr>
                            <tr>
                                <td
                                    style="padding: 20px 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                    A password reset request can be made by anyone, and while it does not indicate
                                    that your account is in any danger of being accessed by someone else, we do
                                    recommend that you ensure that you are using a secure and unique password to
                                    protect your {{SITE_NAME}} account. We also suggest using a different
                                    password for every online account that you have. </td>
                            </tr>
                            <tr>
                                <td
                                    style="padding: 20px 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                    If you have any questions, please <a href="{{SITE_URL}}/contact"
                                        style="font-family: sans-serif;text-decoration: none;">contact us</a>. Thank
                                    you for using {{SITE_NAME}}. </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>