.file-input-group.dragover .files-data::after {
    content: "Drop Files Here";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 20px;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999;
}

.file-input-group .files-data.active {
    display: flex;
}

.file-input-group .files-data {
    width: calc(100% - var(--sidebarWidth));
    position: absolute;
    bottom: 75px;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    max-height: 30vh;
    overflow: auto;
    padding: 10px;
    background: lightblue;
    display: none;
}

.file-input-group .files-data .file {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    margin-inline: 10px;
    max-height: 10rem;
    height: 100%;
    width: fit-content;
}

.file-input-group .files-data .file .icon i {
    font-size: 7rem;
    color: #000;
}

.file-input-group .files-data .file .icon-image {
    width: 100%;
    object-fit: cover;
    height: 100px;
    max-height: 10rem;
}

.file-input-group .files-data .file .icon {
    width: 100%;
    max-width: 10rem;
    height: fit-content;
}

.file-input-group .files-data .file .file-remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99999;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.file-input-group .files-data .file .file-name {
    font-weight: 500;
    font-size: 14px;
}