.icons-collection {
    display: grid;
    flex-wrap: wrap;
    gap: 15px;
    grid-template-columns: repeat(10, 1fr);
    gap: 1.75rem;
}

.single-icon {
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #ddd;
    cursor: pointer;
}

.single-icon .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #ccc;
}

.single-icon .icon svg {
    width: 60px;
    height: 60px;
}

.single-icon .actions {
    padding: 7px 9px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}



.card-buttons {
    display: flex;
    gap: 10px;
    width: 80%;
    align-items: center;
    justify-content: end;
}

.card-buttons label,
.card-buttons button {
    height: fit-content;
}

.card-buttons .live-search {
    width: 25%;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}